:root {
	/*=========== Colors ===========*/
	/* Accent color i.e. favorite color */
	--hue-color: 161;
	--accent-color: #5fe0b7;

	/* color variations */
	--primary-color: hsl(var(--hue-color), 68%, 63%);
	--primary-color-alt: hsl(var(--hue-color), 90%, 45%);
	--primary-color-light: hsl(var(--hue-color), 90%, 85%);
	--off-white-light: #faf9f6;
	--off-white: #efefef;
	--off-black-dark: #1b1b1b;
	--off-black: #3d3d3d;
	--off-black-light: #5d5d5d;
	--section-header-color: var(--off-black-dark);
	--text-color: var(--off-black);
	--text-color-light: var(--off-white-light);
	--box-shadow-color: #31313150;

	/*=========== Font | Typography | Iconography ===========*/
	--header-font: 'Raleway', sans-serif;
	--body-font: 'Poppins', sans-serif;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.75rem;
	--small-font-size: 0.5rem;

	/* font weight */
	--font-thin: 100;
	--font-normal: 300;
	--font-medium: 500;
	--font-bold: 700;
	--font-extra-bold: 900;

	/* Icon Size */
	--icon-small: 35px;
	--icon-medium: 65px;
	--icon-large: 100px;

	/* Border */
	--border-radius: 5px;
}

/*=========== Section ===========*/

.section-header {
	margin: 1em 0 00.5em;
	font-family: var(--header-font);
	color: var(--off-black-dark);
	text-align: center;
}

.intro {
	font-size: var(--h3-font-size);
	font-weight: var(--font-normal);
	line-height: 1.4em;
	margin: 1em auto 2em;
	color: var(--off-black);
}

/*=========== Navbar ===========*/
.container {
	height: 12vh;
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 0.3fr 1fr 0.3fr;
	justify-items: center;
	align-items: center;
	color: #000;
}

.logo {
	margin: auto;
	width: calc(var(--icon-medium) - 10px);
}

.greeting {
	color: var(--off-black-dark);
	border-right: solid 5px var(--primary-color);
	font-size: var(--h2-font-size);
}

/*=========== Hero ===========*/
.main-container {
	position: relative;
	height: 100vh;
	background-image: url(../images/hero-no_words.png);
	background-position: 0 100px;
	background-repeat: no-repeat;
	background-size: 650px;
	overflow: visible;
}

.hero-content {
	height: 90vh;
	width: 80%;
	margin: auto;
}

.null {
	display: none;
}

.content-container {
	width: 80%;
	height: 90%;
	margin-right: 0;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 4em;
}

.name {
	font-family: var(--header-font);
	font-weight: var(--font-extra-bold);
	font-size: 85px;
	line-height: 5rem;
	word-wrap: break-word;
	color: #1d1d1d;
	text-align: end;
}

.last {
	color: var(--off-black);
}

.sub-h2-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

.sub-heading {
	color: var(--off-black);
	font-weight: var(--font-normal);
}

.uim-svg {
	margin-right: 0;
	margin-left: auto;
	height: fit-content;
	width: fit-content;
}

.uim-svg svg {
	color: var(--off-black-dark);
	width: var(--icon-medium);
}

/*=========== Education ===========*/
.education-container {
	/* border-right: solid 10px #5fe0b7; */
	padding: 2em 3em 0;
}

.indicator-container {
	justify-content: center;
}

.university-container {
	display: flex;
	flex-direction: column;
}

.utd {
	border-radius: var(--border-radius);
	width: 100%;
	box-shadow: 4px 4px 24px var(--box-shadow-color);
}

.degree-container {
	color: var(--off-black);
	margin: 2em 0;
}

.year {
	font-weight: var(--font-medium);
	color: var(--off-black-dark);
	text-align: center;
}

.icon-line {
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	grid-gap: 1em;
	padding: 1em 0;
	align-items: center;
	justify-content: start;
}

.icon-line-text {
	font-size: var(--h3-font-size);
	font-weight: var(--font-normal);
	color: var(--off-black);
}

.fa-icon {
	padding: 0.5em;
	border-radius: var(--border-radius);
	width: 40px;
	height: 40px;
	background: #e87500;
	-webkit-box-shadow: 4px 4px 24px var(--box-shadow-color);
	box-shadow: 4px 4px 24px var(--box-shadow-color);
	color: #efefef;
}

.fav-course-title {
	text-align: center;
	padding: 1.5em 0;
	font-size: var(--h1-font-size);
	color: var(--off-black);
}

.course-cards {
	text-align: left;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 2em;
	align-items: center;
	justify-items: center;
}

.course {
	background: var(--off-white-light);
	box-shadow: 4px 4px 24px var(--box-shadow-color);
	border-radius: var(--border-radius);
	color: var(--off-black);
	display: grid;
	grid-template-rows: 0.4fr 1fr;
	grid-gap: 1em;
	justify-items: center;
	align-items: center;
	padding: 1.5em;
}

.course-title {
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	font-size: 1.2em;
	line-height: 1em;
}

.course-description {
	margin: 0;
	font-size: 12px;
	color: var(--off-black);
}

/*=========== Experience ===========*/
.experience-container {
	padding: 2em 3em 0;
}
.glass-card {
	background: linear-gradient(45deg, #fff 2%, var(--off-white));
	-webkit-box-shadow: 0 6px 8px rgba(255, 0, 212, 0.8);
	box-shadow: 0 6px 8px rgba(255, 0, 212, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: var(--border-radius);
}

.card-container {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2em;
	justify-items: center;
}

.card {
	display: grid;
	grid-template-rows: 0.1fr 1fr;
	grid-gap: 1em;
	padding: 25px;
	-webkit-box-shadow: 4px 4px 24px #31313160;
	box-shadow: 4px 4px 24px #31313160;
	max-width: 85%;
	text-align: center;
}

.card-title {
	color: var(--off-black-dark);
	font-size: 20px;
	opacity: 0.9;
	margin: 0;
}

.card-description {
	color: var(--off-black);
	font-weight: 400;
	font-size: 12px;
	text-align: left;
	margin: 0;
}

/* .card-content {
	background: #40514e;
	border-radius: 20px;
	overflow: hidden;
} */

.gh-btn {
	color: var(--off-black);
	background: linear-gradient(
		90deg,
		var(--primary-color),
		var(--primary-color-alt)
	);
	box-shadow: 0 4px 15px 0 var(--box-shadow-color);
	border: none;
	border-radius: var(--border-radius);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em 1.5em;
	margin: 2em auto 0;
	width: fit-content;
	cursor: pointer;
}

.gh-btn:hover {
	box-shadow: 0px 4px 30px var(--box-shadow-color);
}

.experience-container .uim-svg {
	height: var(--icon-small);
}

.experience-container .uim-svg svg {
	width: var(--icon-small);
}

/*=========== What's Next ===========*/
.whats-next-container {
	padding: 2em 3em;
	/* border-right: solid 10px #5fe0b7; */
	color: var(--off-black);
}

.backpack-container {
	background: var(--off-white);
	box-shadow: 0 4px 24px var(--box-shadow-color);

	padding: 2em;
	margin: 2em 0;
}

.backpack-title {
	color: var(--off-black);
}

.backpack {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1em 0;
}

.backpack-container .uim-svg {
	margin: 0;
}

.backpack-container .uim-svg svg {
	color: var(--primary-color-alt);
}

.icon {
	color: var(--primary-color-alt);
	max-height: var(--icon-small);
	max-width: var(--icon-medium);
}

.todo-list {
	width: 90%;
	margin: auto;
}

.line {
	display: flex;
	flex-basis: 100%;
}

.todo {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.todo-title {
	padding: 1.2em 0 0.5em;
}

.todo-sub {
	padding: 1em 0;
	margin-left: 1em;
}

.list-item {
	background: linear-gradient(
		90deg,
		var(--primary-color),
		var(--primary-color-alt)
	);
	padding: 1em;
	border-radius: var(--border-radius);
	font-weight: 700;
	width: 100%;
}

.box {
	padding: 0 1em;
	width: 60px;
}

/*=========== Footer ===========*/
.footer-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em 3em;
	background: var(--off-black);
	color: var(--off-white);
	text-align: center;
	justify-content: space-around;
	align-items: center;
}

.ciao {
	font-size: 1em;
	color: var(--off-white);
}

.btn {
	display: none;
	background: #5fe0b7;
	border: none;
	border-radius: var(--border-radius);
	-webkit-box-shadow: 0 6px 24px 0 rgba(13, 1, 121, 0.25);
	box-shadow: 0 6px 24px 0 rgba(13, 1, 121, 0.25);
	font-size: 14px;
	font-family: 'poppins';
	font-weight: 700;
	color: #313131;
	width: 150px;
	height: 50px;
	cursor: pointer;
}

.btn:hover {
	background: #313131;
	-webkit-box-shadow: 6px 6px #d5ddfc;
	box-shadow: 6px 6px #d5ddfc;
	color: #efefef;
}

.version {
	font-size: 12px;
}

.contacts {
	display: flex;
}

.footer-a {
	font-size: 1em;
	color: var(--off-white);
	word-wrap: break-word;
	padding: 1em;
}

.footer-a:visited {
	text-decoration: none;
}

.footer-a:focus {
	text-decoration: none;
}

.footer-a:active {
	text-decoration: none;
}

.footer-a:hover {
	background: linear-gradient(60deg, var(--off-black-dark) 2%, #2d2d2d);
	border-radius: var(--border-radius);
	transition: transform 1s ease-out;
	box-shadow: 0 1px 10px #00000088;
}

.insta:hover {
	color: #efefef;
	background: linear-gradient(45deg, #c32aa3, #4c5fd7);
	transition: transform 1s ease-out;
}

.logo-light {
	width: var(--icon-small);
}

.logo-light:hover {
	box-shadow: 0 2px 15px #000000aa;
}

/*=========== Media Queries ===========*/
/*====== 390px ======*/
@media only screen and (min-width: 390px) {
	.section-header {
		font-size: 36px;
	}

	.main-container {
		padding: 0 2em;
		background-position: 200px;
	}

	.name {
		font-size: 7em;
	}

	.education-container {
		padding: 2em 4rem 0;
	}

	.degree-container {
		width: 90%;
		margin: auto;
	}

	.icon-line-text {
		font-size: 21px;
	}

	.experience-container {
		padding: 2em 4rem 0;
	}

	.whats-next-container {
		padding: 2em 4rem;
	}
}

/*====== 640px ======*/
@media only screen and (min-width: 640px) {
	.greeting {
		font-size: 1.5em;
	}

	.main-container {
		background-image: url('../images/hero.svg');
		background-size: 800px;
		background-position: -175px 120px;
	}

	.name {
		font-size: 7em;
	}

	.sub-heading {
		font-size: 28px;
	}

	.intro {
		width: 75%;
		font-size: var(--h3-font-size);
	}

	.degree-container {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}

	.course-cards {
		width: 85%;
		margin: auto;
	}

	.course {
		max-width: 70%;
	}

	.course-description {
		font-size: var(--h3-font-size);
	}

	.card-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.card-description {
		font-size: var(--h3-font-size);
	}

	.whats-next-container {
		padding: 4em 8em;
	}
}

/*====== 850px ======*/
@media only screen and (min-width: 850px) {
	.main-container {
		background-size: 900px;
		background-position-y: 75px;
	}

	.education-container {
		/* border-right: solid 15px #5fe0b7; */
		padding: 4em 8em 0;
	}

	.utd {
		width: 40%;
		height: 100%;
	}

	.university-container {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1em;
		margin: 3em 0;
	}

	.course-cards {
		width: 90%;
	}

	.year {
		font-size: 1.5em;
	}

	.course-description {
		font-size: 1em;
	}

	.experience-container {
		/* border-right: solid 15px #5fe0b7; */
		padding: 4em 8em 0;
	}

	.card-title {
		font-size: 28px;
	}

	.card-description {
		font-size: 14px;
	}

	.whats-next-container {
		/* border-right: solid 15px #5fe0b7; */
		padding: 4em 8em;
	}
}

/*====== 1150px ======*/
@media only screen and (min-width: 1150px) {
	.intro {
		width: 80%;
		font-size: var(--h2-font-size);
	}

	.main-container {
		background-size: 950px;
		background-position-y: 50px;
	}

	.course-cards {
		grid-template-rows: none;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		justify-items: center;
	}

	.course {
		height: 500px;
		max-width: 100%;
	}

	.course-container {
		height: 375px;
	}

	.card-description {
		font-size: 1em;
	}
}

/*====== 1440px ======*/
@media only screen and (min-width: 1440px) {
	.intro {
		font-size: var(--h1-font-size);
	}

	.main-container {
		background-size: 1100px;
		background-position-y: 15px;
	}

	.education {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.2f 0.4fr 0.6fr 1fr 1fr;
		row-gap: 2em;
		grid-template-areas:
			'indicator indicator'
			'header header' 'paragraph paragraph'
			'degree img' 'cards cards';
	}
	.education ul {
		grid-area: indicator;
	}
	.education .section-header {
		grid-area: header;
		margin: 0;
	}
	.education .intro {
		grid-area: paragraph;
		margin: 0 auto;
	}
	.education img {
		grid-area: img;
	}
	.education .degree-container {
		grid-area: degree;
	}
	.education .fav-courses {
		grid-area: cards;
	}
	.education .fav-courses .course-cards .course {
		height: 375px;
	}
}

/*====== 1920px ======*/
@media only screen and (min-width: 1920px) {
	.section-header {
		font-size: 48px;
	}

	.intro {
		font-size: 22px;
	}

	.education {
		row-gap: 3em;
	}
	.education .degree-container {
		margin: auto;
		padding: 0;
	}
	.education .fav-courses .course-cards .course {
		height: 275px;
	}

	.experience .card-container {
		justify-items: center;
		margin: 0 auto;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: none;
		-webkit-column-gap: 1em;
		-moz-column-gap: 1em;
		column-gap: 1em;
	}
	.experience .card-container .card {
		width: 325px;
		height: 650px;
	}
	.experience .card-container .card .card-description {
		font-size: 18px;
	}
	.experience .btn {
		height: 70px;
		width: 180px;
		border-radius: var(--border-radius);
	}
	.experience .btn .github-icon {
		width: 30px;
	}
	.experience .btn .btn-text {
		font-size: 18px;
	}

	footer .btn {
		height: 70px;
		width: 180px;
		font-size: 18px;
	}
}
